@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
* {
  transition: 0.2s all;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.light {
  background-color: white;
}

.wrapper.dark {
  background-color: #363636;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;
  transform: translateY(-100%);
}

.dark h1 {
  color: #fff;
}

.footer {
  background-color: #f0f0f0;
  height: 300px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer.dark {
  background-color: #4a4a4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 10px;
}
.social-icon {
  text-decoration: none;
  font-size: 24px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #363636;
  text-align: center;
  line-height: 50px;
}

.social-icon.dark {
  color: #f0f0f0;
}

.dark-mode-toggle {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dark-mode-toggle__icon {
  width: 50px;
  height: auto;
  color: #f2c94c;
  transition: color 0.2s linear;
}

.dark-mode-toggle__icon:hover {
  color: #f6c11f;
}

.dark-mode-toggle__icon--moon {
  color: white;
  opacity: 0.6;
  transition: opacity 0.2s linear, color 0.2s linear;
}

.dark-mode-toggle__icon--moon:hover {
  color: white;
  opacity: 0.8;
}

.dark-mode-toggle__rays {
  transition: opacity 0.2s linear 0.2s;
}

.dark-mode-toggle__icon--moon .dark-mode-toggle__rays {
  transition: opacity 0.2s linear;
  opacity: 0;
}

.dark-mode-toggle__cut-out {
  transition: transform 0.5s cubic-bezier(0.54, -0.42, 0.29, 1.3);
}

.dark-mode-toggle__icon--moon .dark-mode-toggle__cut-out {
  transform: translateX(-30%);
  transition: transform 0.5s cubic-bezier(0.21, 0.17, 0.43, 1.43);
}

.theme--dark {
  background: var(--dark);
}

:root {
  --dark: #0e273c;
  --light: #efefef;
}

.toggler {
  position: fixed;
  right: 10px;
  top: 10px;
}
.dark-mode-toggle__icon {
  width: 50px;
  cursor: pointer;
}
