@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.light {
  background-color: white;
}

.wrapper.dark {
  background-color: #363636;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;
  transform: translateY(-100%);
}

.dark h1 {
  color: #fff;
}

.footer {
  background-color: #f0f0f0;
  height: 300px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer.dark {
  background-color: #4a4a4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 10px;
}
.social-icon {
  text-decoration: none;
  font-size: 24px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #363636;
  text-align: center;
  line-height: 50px;
}

.social-icon.dark {
  color: #f0f0f0;
}
